body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  background-color: #FDFDFD;
}

main {
  flex: 1 0 auto;
}

strong {
  font-weight: bold;
}


.brand-logo {
  /*background-image: url('../wave.png');
  background-position: center;
  background-size: cover;*/
  height: 30px;
  width: 30px;
  top: 50%;
  transform: translateY(-50%);
  transition: border-radius 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  font-size: 16px !important;
  border: 1.5px solid #fff;
  text-align: center;
}

.logo-text {
  position: absolute;
  bottom: 0;
  line-height: 12px;
}

nav {
  height: 150px;
  line-height: 150px;
  background: linear-gradient(to top, rgba(0,0,0,0.01) 2%, rgba(0,0,0,0.4) 32%, rgba(0,0,0,0.6) 72%);
  transition: all 0.4s ease-in-out;
  box-shadow: none;
}
nav ul a {
  text-transform: uppercase;
  letter-spacing: 1.4px;
}
.navbar-fixed {
  height: 0;
}

.navbar-default.navbar-shrink {
    height: 120px;
    line-height: 120px;
    background-color: rgba(0,0,0,1);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.navbar-shrink .brand-logo {
  border-radius: 50%;
  box-shadow: 3px 4px 43px black inset;
}

#index-banner {
  background: url('../saw.jpg');
  background-position: center;
  background-size: cover;
  padding-top: 150px;
}
.header {
  font-weight: bold;
  letter-spacing: 4px;
  font-family: 'Libre Baskerville', serif;
  font-size: 48px;
}
#index-banner .header {
  margin: 0 auto;
  padding: 20px;
}
#index-banner .border-box {
  display: inline-block;
  border: 1.5px solid #fff;
}

.album-cover {
  margin-bottom: 15px;
}
.album-cover img {
  width: 200px;
  box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.2);
}

.pricing-text {
  letter-spacing: 0.5px;
}

footer.page-footer .footer-copyright {
  background: rgba(255, 255, 255, 0.2);
}
